/* General Layout */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,h2{
    color:  #1e2a47;
}
h3{
    color: #f4f4f9;
}
h1{
    position: relative;
    left: 300px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
}

/* Call to Action */
.cta {
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cta h2 {
    margin: 0;
}

button {
    background-color: #FFC107;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
    color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .cta button {
        width: 100%;
        padding: 14px;
    }
}

